

nav {
  color: black;
  background-color: lightgray;
  padding: 0rem;
  display: block;
  margin: 0;
  border-bottom: 0px solid #8e6c88;
  left: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

nav li, nav li a {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #8e6c88;
  color: #000;
  padding: 1rem;
  font-weight: bold;
}


body {
  margin: 40px;
  background-color: #8e6c88;
}

main {
  width: 95%;
  max-width: 1000px;
  background: #FFF;
  /*border-radius: 1rem;*/
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}


.firstcharacter {
  color: #8e6c88;
  float: left;
    font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  line-height: 2rem;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
}


h1 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
h2 {
   text-transform: uppercase;
}
h3 {
  color: darkgrey;
}
p {
  color: black;
}
footer {
  background-color: lightgray;
  text-align: center;
  padding-bottom: 0rem;
}




a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}


img {
  width: 10px,
  height: auto
}


.location-holder, .media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}



@media (min-width: 555px) {

  .media-holder {
    flex-direction: row;
  }

  .image-holder {
    width: 30%;
  }

  .media-list .text-holder {
    width: 70%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li {
    width: 50%;
  }

}


@media (min-width: 800px) {

  .image-holder {
    width: 250px;
  }

  .media-list .text-holder {
    width: calc(100% - 250px);
  }

  nav li {
    width: 25%;
  }
}







